src/main/java/com/fdinga/exchange/client/ecb/schema/ecb-cube.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://www.ecb.int/vocabulary/2002-08-01/eurofxref"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Cube" type="eur:Cube" xmlns:eur="http://www.ecb.int/vocabulary/2002-08-01/eurofxref"/>

    <xs:complexType name="Cube">
        <xs:sequence>
            <xs:element type="eur:DateCube" name="Cube" maxOccurs="unbounded" minOccurs="0"
                        xmlns:eur="http://www.ecb.int/vocabulary/2002-08-01/eurofxref"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DateCube" xmlns:eur="http://www.ecb.int/vocabulary/2002-08-01/eurofxref">
        <xs:sequence>
            <xs:element type="eur:CurrencyCube" name="Cube" maxOccurs="unbounded" minOccurs="0"
                        xmlns:eur="http://www.ecb.int/vocabulary/2002-08-01/eurofxref"/>
        </xs:sequence>
        <xs:attribute type="xs:date" name="time"/>
    </xs:complexType>

    <xs:complexType name="CurrencyCube" xmlns:eur="http://www.ecb.int/vocabulary/2002-08-01/eurofxref">
        <xs:attribute type="xs:string" name="currency"/>
        <xs:attribute type="xs:decimal" name="rate"/>
    </xs:complexType>


</xs:schema>